name: Test upload

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      url:
        description: 'URL to download'
        required: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Download
      uses: carlosperate/download-file-action@v1.0.3
      with:
        file-url: ${{ github.event.inputs.url }}
        file-name: zowe-test.pax
        location: tmp 

    - name: SFTP uploader
      uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        server: ${{secrets.TEST_SERVER_HOST}}
        username: ${{secrets.TEST_SERVER_USER}}
        password: ${{secrets.TEST_SERVER_PASSWORD}}
        port: ${{secrets.TEST_SERVER_SSH_PORT}}
        protocol: ftps-legacy
        local-dir: tmp/
        server-dir: /ZOWE/tmp/
        log-level: verbose
        security: loose
